
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">


<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
	
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>	
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<link type="text/css" rel="stylesheet" href="<c:url value='/resources/css/style.css'/>"></link>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

<script
	src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


<script  src="<c:url value='/resources/angular/sessionGridScript.js'/>"></script>

<script
	src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>



</head>
<body>
	<div id="headerDiv">
		<img src="<c:url value='/resources/images/ctp.png'/>" class="img-rounded"
			style="width: 250px; height: 50px" /> 
	</div>
</body>
</html>